
body {
    background-color: black;
    color: white;
    font-family: 'OCR A';
    padding: 20px;
}

#invButton {
    background-color: black;
    font-family: 'OCR A';
    font-size: 20px;
    text-align: center;
    color: white;
    padding: 10px;
    height: 80px;
    width: 80px;
    border: solid 8px white;
}

#invButton:hover {
    color: yellow;
    border: solid 8px yellow;
}